[Unit]
Description=Bluetooth Agent
After=bluetooth.service

[Service]
Type=simple
ExecStart=/usr/bin/bt-agent -c NoInputNoOutput -p /etc/bluetooth/pin.conf
ExecStartPre=/bin/sleep 3
ExecStartPre=/bin/hciconfig hci0 sspmode 0
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
